version: '3'
services:
  app:
    image: localhost:5000/ttm-image:latest
    platform: linux/arm64/v8
    container_name: TTM-app
    ports:
      - "80:80"
    networks:
      - my-network
    depends_on:
      - mysql

  redis:
    image: redis
    container_name: TTM-redis
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    container_name: TTM-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ttm
      MYSQL_USER: user
      MYSQL_PASSWORD: user
    ports:
      - "3306:3306"
    networks:
      - my-network


networks:
  my-network:

volumes:
  db-data:
